@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.page-board {
    margin-bottom: vw(120px);
}

.board-person {
    $person: &;
    padding: 30px;
    background: #F2F2F2;
    margin-bottom: vw(16px);

    @media (min-width: $width-xl){
        padding: vw(33px) vw(58px);
    }

    &__name {
        color: #393939;
        font-size: 26px;
        line-height: 130%;
        margin-bottom: 8px;
        font-weight: 400;

        @media (min-width: $width-xl){
            font-size: vw(33px);
            line-height: vw(40px);
            margin-bottom: vw(8px);
        }
    }
    &__position {
        color: $gray;
        font-size: 18px;
        line-height: 130%;
        font-weight: 300;

        @media (min-width: $width-xl){
            font-size: vw(20px);
            line-height: vw(26px);
        }
    }

    &--main {
        #{$person}__name{
            font-size: 30px;
            line-height: 130%;
            font-weight: 700;

            @media (min-width: $width-xl){
                font-size: vw(55px);
                line-height: vw(65px);
            }
        }
        #{$person}__position{
            font-size: 26px;
            line-height: 130%;
            font-weight: 400;

            @media (min-width: $width-xl){
                font-size: vw(33px);
                line-height: vw(40px);
            }
        }
    }
}
