.container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;

    @media (min-width: 1200px) {
        width: 1180px;
        padding-left: vw(16px);
        padding-right: vw(16px);
    }

    @media (min-width: 1700px) {
        width: 1644px;
    }

    &--narrow {
        @media (min-width: 1700px) {
            width: 1180px;
        }
    }

    &--thin {
        @media (min-width: 1024px) {
            width: 830px;
        }
    }

    &--full {
        width: 100%;
    }
}

.row {
    margin-left: -16px;
    margin-right: -16px;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 1200px) {
        margin-left: vw(-16px);
        margin-right: vw(-16px);
    }

    &--padding-small {
        margin-left: -4px;
        margin-right: -4px;
    }

    @each $bpName, $bpValue in $bp {
        &--#{$bpName}-justify-content-between {
            @media (min-width: $bpValue) {
                justify-content: space-between;
            }
        }

        &--#{$bpName}-col {
            @media (min-width: $bpValue) {
                flex-direction: column;
            }
        }

        &--#{$bpName}-col-reverse {
            @media (min-width: $bpValue) {
                flex-direction: column-reverse;
            }
        }

        &--#{$bpName}-row {
            @media (min-width: $bpValue) {
                flex-direction: row;
            }
        }

        &--#{$bpName}-row-reverse {
            @media (min-width: $bpValue) {
                flex-direction: row-reverse;
            }
        }

        &--#{$bpName}-justify-content-center {
            @media (min-width: $bpValue) {
                justify-content: center;
            }
        }

        &--#{$bpName}-align-center {
            @media (min-width: $bpValue) {
                align-items: center;
            }
        }
    }
}

.img-responsive {
    max-width: 100%;
    display: block;
}

@each $bpName, $bpValue in $bp {
  @each $colName, $colValue in $cols {
    .col-#{$bpName}-#{$colName} {
      @media (min-width: $bpValue) {
        flex: 0 0 $colValue;
        max-width: $colValue;
        padding: 0 16px;
      }
    }
  }
}

*[class^='col-'] {
    &.padding-small {
        padding-left: 4px;
        padding-right: 4px;
    }
}

@each $align in $aligns {
  @each $bpName, $bpValue in $bp {
    .text-#{$bpName}-#{$align} {
      @media (min-width: $bpValue) {
        text-align: #{$align};
      }
    }
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;

  &--100 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  &.nowrap {
    flex-wrap: nowrap;

    &--sm {
      @media (min-width: $width-sm) {
        flex-wrap: nowrap;
      }
    }

    &--md {
      @media (min-width: $width-md) {
        flex-wrap: nowrap;
      }
    }

    &--lg {
      @media (min-width: $width-lg) {
        flex-wrap: nowrap;
      }
    }

    &--xl {
      @media (min-width: $width-xl) {
        flex-wrap: nowrap;
      }
    }
  }

  &.d-column {
    flex-direction: column;
  }

  &.d-row {
    flex-direction: row;
  }

  &.justify-content-center {
    justify-content: center;
  }

  &.justify-content-left {
    justify-content: left;
  }

  &.justify-content-end {
    justify-content: flex-end;
  }

  &.align-content-start {
    align-content: flex-start;
  }

  &.align-content-center {
    align-content: center;
  }

  &.align-items-center {
    align-items: center;
  }

  &.align-items-start {
    align-items: flex-start;
  }

  &.align-items-end {
    align-items: flex-end;
  }

  &.justify-content-space-between {
    justify-content: space-between;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-20 {
  margin-bottom: 15px !important;

  @media (min-width: $width-xl) {
    margin-bottom: vw(20px) !important;
  }
}

.mb-40 {
  margin-bottom: 20px !important;

  @media (min-width: $width-xl) {
    margin-bottom: vw(40px) !important;
  }
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}
