@function vw($target) {
  $vw-context: (1920 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

@mixin trans($duration: 0.3s) {
  transition: all $duration ease-in-out;

    &:hover {
        opacity: 0.6;
    }
}

@mixin paragraph {
  color: $gray;
  font-size: 14px;
  line-height: 155.57%;

  @media (min-width: $width-lg) {
    font-size: 1.2vw;
  }

  @media (min-width: $width-xl) {
    font-size: 0.833vw;
  }

}

@mixin generateCloser($width: 30px, $height: 30px, $top: 30px, $right: 30px, $color: #000) {
  width: $width;
  height: $height;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
  cursor: pointer;
  @include trans;

  @media (min-width: $width-md) {
    top: $top;
    right: $right;
  }

  &:hover {
    transform: scale(1.2);
  }

  &:before, &:after {
    position: absolute;
    left: 0;
    width: 40px;
    height: 2px;
    content: '';
    background: $color;
    transform-origin: 0 100%;
  }

  &:before {
    transform: rotate(45deg);
    top: 0;
  }

  &:after {
    transform: rotate(-45deg);
    bottom: 0;
    transform-origin: 0 0;
  }
}

@mixin yellowCorner{
    position: absolute;
    width: vw(800px);
    height: vw(800px);
    content: '';
    background: $yellow;
    transform: rotate(-45deg) translate(0,-45%);
    transform-origin: bottom left;
    left: 0;
    top: 0;
}
