.cms-content {
    font-size: 18px;
    line-height: 130%;
    color: $gray;
    font-weight: 300;

    @media (min-width: $width-xl){
        font-size: vw(20px);
        line-height: vw(26px);
    }

    a {
        text-decoration: none;
        color: inherit;
        transition: all 0.3s ease-in-out;

        &:hover {
            opacity: 0.6;
        }
    }

    p {
        margin-bottom: 25px;
        @media (min-width: $width-xl){
            margin-bottom: vw(25px);
        }
    }

    h5 {
        margin-bottom: 32px;
        font-size: 30px;
        line-height: 110%;
        color: $gray;
        font-weight: 400;
        @media (min-width: $width-xl){
            margin-bottom: vw(32px);
            font-size: vw(33px);
            line-height: vw(40px);
        }
    }

    h6 {
        text-transform: uppercase;
        margin-bottom: 32px;
        font-size: 20px;
        line-height: 26px;
        font-weight: 700;
        color: $gray;
        @media (min-width: $width-xl){
            margin-bottom: vw(32px);
            font-size: vw(20px);
            line-height: vw(26px);
        }

    }

    ul {
        padding-left: 0;
        list-style-type: none;

        li {
            position: relative;
            margin-bottom: 35px;
            padding-left: 40px;

            @media (min-width: $width-xl){
                margin-bottom: vw(35px);
                padding-left: vw(40px);
            }

            &:before {
                width: 0;
                left: 0;
                top: 2px;
                border-width: 24px 24px 0 0;
                height: 0;
                border-style: solid;
                border-color: $yellow transparent transparent transparent;
                position: absolute;
                content: '';

                @media (min-width: $width-xl){
                    top: vw(2px);
                    border-width: vw(24px) vw(24px) 0 0;
                }
            }
        }
    }

    iframe {
        height: 200px;
        margin-bottom: 32px;

        @media (min-width: $width-sm) {
            height: 350px;
        }

        @media (min-width: $width-md) {
            height: vw(700px);
        }
        @media (min-width: $width-lg) {
            height: vw(500px);
        }
        @media (min-width: $width-xl) {
            height: vw(700px);
        }

        @media (min-width: $width-xxl) {
            height: vw(500px);
        }
    }

    img {
        display: block;
        max-width: 100%;
        margin-bottom: 32px;
        @media (min-width: $width-xl) {
            margin-bottom: vw(32px);
        }
    }
}
