@import '_variables';
@import '_mixins';
@import '~jquery-colorbox/example1/colorbox.css';
@import '~aos/dist/aos.css';
@import 'grid';
@import 'cms-content';
@import '../fonts/Blinker/stylesheet.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Blinker', sans-serif;
}

body, html {
    overflow-x: hidden;
}

.hidden {
    display: none !important;
}

.section-header {
    color: #393939;
    font-size: 40px;
    line-height: 110%;
    text-align: left;
    font-weight: 700;
    margin-bottom: 20px;
    max-width: 100%;

    @media (min-width: 992px) {
        margin-bottom: vw(32px);
    }

    @media (min-width: $width-xl){
        font-size: vw(55px);
        line-height: vw(65px);
    }

    &--center {
        text-align: center;
    }
}

.eu {
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 40px;

    @media (min-width: $width-xl){
        margin-bottom: vw(72px);
    }

    &--borderless {
        border: none;
        margin-bottom: 50px;

        @media (min-width: $width-xl){
            margin-bottom: vw(90px);
        }
    }

    &__image {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        position: relative;
        bottom: vw(-35px);
    }
}

.yellow-btn {
    padding: 18px 80px 18px 30px;
    color: #2B2B2B;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    font-size: 17px;
    line-height: 110%;
    text-decoration: none;
    letter-spacing: 0.76px;
    position: relative;
    cursor: pointer;

    @media (min-width: $width-xl){
        font-size: vw(19px);
        line-height: vw(23px);
        padding: vw(26px) vw(140px) vw(26px) vw(46px);
    }

    span {
        position: relative;
        z-index: 1;
    }

    &:before {
        background: $yellow;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        transition: all 0.2s ease-in-out;
        z-index: 0;
    }

    &:after {
        content: url('/images/icons/right-arrow.png');
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
        transition: all 0.2s ease-in-out;

        @media (min-width: $width-xl){
            right: vw(32px);
        }
    }

    &:hover {
        &:before {
            width: 110%;
            height: 110%;
        }

        &:after {
            right: vw(5px);
        }
    }
}

.white-btn {
    padding: 18px 80px 18px 0;
    color: #2B2B2B;
    font-weight: 400;
    display: inline-block;
    font-size: 17px;
    line-height: 110%;
    margin-bottom: 20px;
    text-decoration: none;
    letter-spacing: 0.76px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    @media (min-width: $width-xl) {
        padding: vw(10px) 40px vw(10px) 0;
        font-size: vw(19px);
        line-height: vw(23px);
        margin-bottom: vw(20px);
    }

    span {
        position: relative;
        z-index: 1;
    }

    &:after {
        content: url('/images/icons/right-arrow-white.svg');
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 1px;
        right: 0;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        opacity: 0.7;

        &:after {
            right: vw(5px);
        }
    }
}

.subpage-wrapper {
    padding-top: 60px;

    @media (min-width: 430px){
        padding-top: 76px;
    }

    @media (min-width: $width-xl){
        padding-top: vw(123px);
    }
}
