@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.page-contact {
    margin-bottom: 100px;
    @media (min-width: $width-xl) {
        margin-bottom: vw(120px);
    }

    &__content {
        margin-bottom: 100px;
        @media (min-width: $width-xl) {
            margin-bottom: vw(120px);
        }
    }

    &__left {
        margin-bottom: 50px;
        @media (min-width: $width-lg) {
            margin-bottom: 0;
            margin-top: vw(50px);
        }
    }

    &__right {
        padding: 30px;
        box-shadow: 0 12px 24px #0000001A;
        @media (min-width: $width-xl) {
            padding: vw(42px) vw(53px);
        }
    }

    &__email {
        display: inline-block;
        background: #458D63;
        padding: 26px 39px 26px 82px;
        color: #fff;
        font-size: 17px;
        line-height: 110%;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        position: relative;
        @media (min-width: $width-xl) {
            padding: vw(26px) vw(39px) vw(26px) vw(82px);
            font-size: vw(19px);
            line-height: vw(23px);
        }

        &:after {
            position: absolute;
            content: url("/images/icons/mail.svg");
            top: 50%;
            margin-top: 2px;
            left: 30px;
            transform: translate(0, -50%);
            @media (min-width: $width-xl) {
                left: vw(40px);
            }
        }

        &:hover {
            opacity: 0.7;
        }
    }
}

.dep {
    position: relative;
    z-index: 2;

    &__choose {
        border: 2px solid #458D63;
        font-size: 19px;
        line-height:110%;
        padding: 16px 26px;
        margin-bottom: 21px;
        position: relative;
        font-weight: 300;
        cursor: pointer;
        @media (min-width: $width-xl) {
            font-size: vw(20px);
            line-height: vw(26px);
            padding: vw(16px) vw(26px);
            margin-bottom: vw(21px);
        }

        &:after {
            position: absolute;
            content: url("/images/icons/dep-down.svg");
            right: 26px;
            top: 50%;
            transform: translateY(-50%);
            margin-top: 2px;
            @media (min-width: $width-xl) {
                right: vw(26px);
            }
        }
    }

    &__list {
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        list-style-type: none;
        padding-left: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        left: 0;
        top: 100%;
        background: #fff;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__list-elem {
        font-size: 16px;
        line-height: 110%;
        padding: 12px 26px;
        position: relative;
        font-weight: 300;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        @media (min-width: $width-xl) {
            font-size: vw(20px);
            line-height: vw(26px);
            padding: vw(16px) vw(26px);
        }

        &:hover, &.active {
            background: #458D63;
            color: #fff;
        }
    }

    &__content {
        visibility: hidden;
        opacity: 0;
        display: none;

        &.active {
            opacity: 1;
            visibility: visible;
            display: block;
        }
    }
}

.person {
    padding: 21px 0;
    border-bottom: 2px solid #F2F2F2;
    @media (min-width: $width-xl) {
        padding: vw(21px) 0;
    }

    &:last-of-type {
        border: none;
    }

    &__name {
        font-size: 24px;
        line-height: 120%;
        margin-bottom:15px;
        @media (min-width: $width-xl) {
            font-size: vw(26px);
            line-height: vw(31px);
            margin-bottom: vw(15px);
        }
    }

    &__phone, &__email, &__fax {
        display: block;
        text-decoration: none;
        @include trans;
        font-size: 15px;
        line-height: 120%;
        font-weight: 400;
        color: $gray;
        @media (min-width: $width-xl) {
            font-weight: 300;
            font-size: vw(20px);
            line-height: vw(26px);
        }
    }
}
