@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.page-header {
    padding: 100px 0 63px 0;
    margin-bottom: 60px;
    position: relative;
    background-color: #393939;
    overflow: hidden;
    @media (min-width: $width-xl) {
        padding: vw(325px) 0 vw(63px) 0;
        margin-bottom: vw(90px);
    }

    &:after {
        content: '';
        background: #000;
        width: 100%;
        opacity: 0.3;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    &:before {
        @include yellowCorner;
        z-index: 1;
    }

    &__image {
        position: absolute;
        opacity: 0.5;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%,-50%);
        z-index: 0;
    }
    &__title {
        color: #fff;
        font-weight: 700;
        margin-bottom: 18px;
        font-size: 30px;
        line-height: 110%;
        position: relative;
        z-index: 1;

        @media (min-width: $width-xl) {
            margin-bottom: vw(18px);
            font-size: vw(86px);
        }

        &:before {
            @media (min-width: $width-xl) {
                content: url('/images/titleCorner.png');
                position: absolute;
                top: vw(-75px);
                left: vw(-41px);
                width: vw(26px);
                height: vw(26px);
            }

        }
    }
    &__table {
        position: relative;
        z-index: 1;
    }
    &__table-label {
        color: #fff;
        font-weight: 300;
        line-height: 110%;
        font-size: 20px;
        margin-bottom: 18px;

        @media (min-width: $width-xl) {
            font-size: vw(20px);
            margin-bottom: vw(18px);
        }
    }
    &__table-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 1;
        flex-direction: column;
        padding-bottom: 20px;

        @media (min-width: $width-lg) {
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            padding-bottom: 0;
        }
    }
    &__table-btn {
        background: $yellow;
        @include trans;
        color: #393939;
        padding: 8px 20px;
        font-size: 16px;
        line-height: 110%;
        display: inline-block;
        text-decoration: none;

        @media (min-width: $width-xl) {
            padding: vw(11px) vw(20px);
            font-size: vw(24px);
        }
    }
    &__table-elements {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(141px, 141px));
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        margin-bottom: 30px;

        @media (min-width: $width-lg) {
            margin-bottom: 0;
            grid-template-columns: repeat(auto-fill,minmax(vw(141px), vw(141px)));
        }

        @media (min-width: $width-xl) {
            margin-bottom: 0;
            max-width: vw(1134px);
            grid-template-columns: repeat(auto-fill,minmax(vw(141px), vw(141px)));
        }
    }
    &__table-element {
        color: #fff;
        font-size: 16px;
        padding: 10px 0;
        line-height: 110%;
        text-align: center;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        font-weight: 300;

        @media (min-width: $width-lg) {
            font-size: vw(22px);
            padding: vw(10px) 0;
        }
    }
}
