@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.download{
    margin-bottom: 32px;

    @media (min-width: $width-xl){
        margin-bottom: vw(32px);
    }

    &__box {
        text-decoration: none;
        text-align: center;
        margin-bottom: 32px;
        display: block;
        @include trans;

        @media (min-width: $width-xl){
            margin-bottom: vw(32px);
        }
    }
    &__header {
        margin-bottom: 32px;
        font-size: 30px;
        line-height: 40px;
        color: $gray;
        font-weight: 400;

        @media (min-width: $width-xl){
            margin-bottom: vw(32px);
            font-size: vw(33px);
            line-height: vw(40px);
        }

        &--centered {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 64px;
            text-align: center;
            font-weight: 700;

            @media (min-width: $width-xl){
                font-size: vw(55px);
                margin-bottom: vw(64px);
                line-height: vw(65px);
            }
        }
    }
    &__icon {
        display: block;
        width: 82px;
        height: 82px;
        margin: 0 auto 16px auto;
        border-radius: 50%;

        @media (min-width: $width-xl){
            width: vw(82px);
            height: vw(82px);
            margin: 0 auto vw(16px) auto;
        }
    }
    &__title {
        font-size: 20px;
        line-height: 110%;
        color: #393939;
        font-weight: 400;
        text-align: center;
        display: block;

        @media (min-width: $width-xl){
            font-size: vw(20px);
        }
    }
}
