@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.footer {
    position: relative;
    overflow: hidden;
    &:after {
        position: absolute;
        bottom: -305px;
        content: '';
        left: 50%;
        width: 400px;
        height: 400px;
        background: $yellow;
        transform: rotate(45deg);
        transform-origin: top left;

        @media (min-width: $width-xl) {
            bottom: vw(-144px);
            width: vw(400px);
            height: vw(400px);
        }
    }

    &__title {
        margin-bottom: 30px;
        font-size: 33px;
        line-height: 40px;
        color: $gray;
        font-weight: 400;

        @media (min-width: $width-xl) {
            margin-bottom: vw(35px);
            font-size: vw(33px);
            line-height: vw(40px);
        }
    }
    &__short-desc-content,
    &__short-desc-socials {
        margin-bottom: 30px;
        color: $gray;
        max-width: 100%;
        font-weight: 300;

        @media (min-width: $width-xl) {
            margin-bottom: vw(39px);
            width: vw(398px);
        }
    }
    &__short-desc-socials a{
        margin-left: 9px;
        display: inline-block;
        position: relative;
        transform: translateY(20%);
    }
    &__news{
        margin-bottom: 23px;
        display: flex;
        text-decoration: none;
        align-items: flex-start;

        @media (min-width: $width-xl) {
            margin-bottom: vw(23px);
        }
    }
    &__news-image {
        display: block;
        max-width: 98px;
        margin-right: 23px;

        @media (min-width: $width-xl) {
            max-width: vw(98px);
            margin-right: vw(23px);
        }
    }
    &__news-title {
        font-size: 20px;
        line-height: 26px;
        color: $gray;
        font-weight: 300;

        @media (min-width: $width-md) {

        }

        @media (min-width: $width-xl) {
            font-size: vw(20px);
            line-height: vw(26px);
            max-width: vw(250px);
        }
    }
    &__menu {
        list-style-type: none;
        padding-left: 0;
    }
    &__menu-link {
        font-size: 20px;
        line-height: 26px;
        color: $gray;
        text-decoration: none;
        font-weight: 300;
        @include trans;

        @media (min-width: $width-xl) {
            font-size: vw(20px);
            line-height: vw(26px);
        }
    }
    &__copy {
        border-top: 1px solid #F1F1F1;
        display: flex;
        justify-content: center;
        padding: 39px 0;
        font-size: 20px;
        line-height: 26px;
        color: $gray;
        margin-top: 50px;
        font-weight: 300;

        @media (min-width: $width-md) {
            justify-content: space-between;
            font-size: 15px;
        }

        @media (min-width: $width-xl) {
            margin-top: vw(89px);
            padding: vw(30px) 0 vw(118px) 0;
            font-size: vw(20px);
            line-height: vw(26px);
        }

        a {
            text-decoration: none;
        }
    }

    &__copy-left{
        display: none;
        z-index: 2;

        @media (min-width: $width-md) {
            display: block;
        }
    }
    &__copy-right {
        opacity: 0.3;
        z-index: 2;
    }

    .eu {
        display: none;

        @media (min-width: $width-lg) {
            display: block;
        }
    }
}
