@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

@media (min-width: $width-xl) {}

.top-menu {
    $top-menu: &;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    z-index: 3;
    height: 60px;
    padding-left: 29px;

    @media (min-width: 430px) {
        height: 76px;
    }

    @media (min-width: $width-xl) {
        padding-left: vw(40px);
        height: auto;
    }

    &__toggler {
        position: relative;
        background: #029141;
        height: 100%;
        width: 60px;

        @media (min-width: 430px) {
            width: 76px;
        }

        @media (min-width: $width-xl) {
            display: none;
        }

        &:after {
            position: absolute;
            content: url("/images/icons/burger.jpg");
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &--close{
            background: transparent;
            height: auto;
            width: auto;
            z-index: 4;

            &:after {
                content: url("/images/icons/close.jpg");
                top: 20px;
                right: 20px;
                left: auto;
                transform: rotate(45deg);
                transform-origin: center center;
            }
        }
    }

    &__logo {
        width: 70px;
        flex: 0 0 70px;
        display: inline-block;

        @media (min-width: 430px) {
            width: 90px;
            flex: 0 0 90px;
        }

        @media (min-width: $width-xl) {
            width: vw(145px);
            flex: 0 0 vw(145px);
        }
    }

    &__right {
        font-size: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: 100%;

        @media (min-width: $width-xl) {
            height: auto;
            width: auto;
        }
    }

    &__logo-image {
        display: block;
        max-width: 100%;
    }
    &__top-info {
        padding: vw(13px) vw(46px) vw(13px) 0;
        flex: 0 0 100%;
        text-align: right;
        display: none;

        @media (min-width: $width-xl) {
            display: block;
        }
    }

    &__top-info-text {
        font-size: vw(18px);
        line-height: vw(26px);
        color: $gray;
        font-weight: 200;
        margin-left: vw(23px);
        display: inline-block;
    }
    &__navigation {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        background: #fff;
        z-index: 3;

        &.active {
            visibility: visible;
            opacity: 1;
        }

        @media (min-width: $width-xl) {
            width: auto;
            position: static;
            visibility: visible;
            opacity: 1;
        }
    }
    &__phone-number {
        background: #F2F2F2;
        padding: vw(26px) vw(39px) vw(26px) vw(82px);
        color: #393939;
        font-size: vw(19px);
        line-height: vw(23px);
        text-decoration: none;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        position: relative;
        height: 100%;
        width: 60px;

         @media (min-width: 430px) {
             width: 76px;
        }

        @media (min-width: $width-xl) {
            height: auto;
            width: auto;
        }

        span {
            display: none;
            @media (min-width: $width-xl) {
                display: block;
            }
        }

        &:after {
            position: absolute;
            content: url("/images/icons/phone.svg");
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 2px;

            @media (min-width: $width-xl) {
                left: vw(40px);
                transform: translate(0, -50%);
            }
        }

        &:hover {
            opacity: 0.7;
        }
    }
    &__email {
        display: inline-block;
        padding: vw(26px) vw(39px) vw(26px) vw(82px);
        color: #fff;
        font-size: vw(19px);
        text-transform: uppercase;
        line-height: vw(23px);
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        position: relative;
        height: 100%;
        width: 60px;
        background: #F2F2F2;

         @media (min-width: 430px) {
             width: 76px;
        }

        @media (min-width: $width-xl) {
            height: auto;
            width: auto;
            background: #458D63;
        }

        span {
            display: none;
            @media (min-width: $width-xl) {
                display: block;
            }
        }

        &:after {
            position: absolute;
            content: url("/images/icons/email.jpg");
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 2px;

            @media (min-width: $width-xl) {
                content: url("/images/icons/mail.svg");
                left: vw(40px);
                transform: translate(0, -50%);
            }
        }

        &:hover {
            opacity: 0.7;
        }
    }
    &__navigation-list {
        margin-right: vw(50px);
        overflow: auto;
        height: 100%;
        width: 100%;
        padding-top: 60px;

        @media (min-width: $width-xl) {
            padding-top: 0;
            height: auto;
            width: auto;
        }
    }
    &__navigation-elem {
        display: block;

        @media (min-width: $width-xl) {
            display: inline-block;
        }
    }

    &__navigation-link {
        @include trans();
        display: block;
        padding: 15px 30px;
        letter-spacing: 0.28px;
        color: #393939;
        font-size: 18px;
        line-height: 110%;
        text-decoration: none;
        font-weight: 500;

        @media (min-width: $width-xl) {
            font-size: vw(19px);
            line-height: vw(23px);
            padding: vw(26px) vw(55px);
        }
    }
    &__navigation-elem.has-submenu {
        #{$top-menu}__navigation-link {
            position: relative;

            &:after {
                position: absolute;
                content: url("/images/icons/menu-down.svg");
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
                margin-top: -1px;

                @media (min-width: $width-xl) {
                    right: vw(16px);
                }
            }
        }
    }
    &__submenu {
        position: relative;
        top: 100%;
        left: 0;
        width: 100%;
        background: 100%;
        justify-content: center;
        background: #fff;
        transition: all 0.3s ease-in-out;
        display: none;

        &.active {
            display: block;
        }

        @media (min-width: $width-xl) {
            visibility: hidden;
            opacity: 0;
            display: flex;
            box-shadow: 0 25px 15px 15px rgba(0,0,0,0.02);
            position: absolute;
        }
    }

    &__submenu-item {
        display: block;
        @media (min-width: $width-xl) {
            display: inline-block;
        }
    }
    &__submenu-link {
        @include trans();
        display: block;
        padding: 15px 30px 15px 40px;
        letter-spacing: 0.28px;
        color: #393939;
        font-size: 16px;
        line-height: 100%;
        text-decoration: none;
        font-weight: 300;

        @media (min-width: $width-xl) {
            padding: vw(49px) vw(40px);
            font-size: vw(19px);
            line-height: vw(23px);
        }
    }
    &__navigation-elem.has-submenu:hover {
        #{$top-menu}__submenu {
            visibility: visible;
            opacity: 1;
        }
    }

}
