@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.page-career {
    margin-bottom: 100px;
    @media (min-width: $width-xl) {
        margin-bottom: vw(120px);
    }
}

.no-offers {
    text-align: center;
    margin-bottom: 16px;
    padding: 60px 30px;
    background: #F2F2F2;
    @media (min-width: $width-xl) {
        margin-bottom: vw(16px);
        padding: vw(82px) vw(30px);
    }

    span {
        opacity: 0.3;
        font-size: 33px;
        line-height: 40px;
        color: $gray;
        @media (min-width: $width-xl) {
            font-size: vw(33px);
            line-height: vw(40px);
        }
    }
}

.job-offer {
    padding:33px 36px;
    margin-bottom: 16px;
    background: #F2F2F2;
    position: relative;
    @media (min-width: $width-xl) {
        padding: vw(33px) vw(36px);
        margin-bottom: vw(16px);
    }

    &__title {
        font-size: 33px;
        line-height: 40px;
        margin-bottom: 21px;
        color: $gray;
        font-weight: 400;
        max-width: 80%;

        @media (min-width: $width-xl) {
            font-size: vw(33px);
            line-height: vw(40px);
            margin-bottom: vw(21px);
        }
    }

    &__content {
        padding-top: 15px;
        @media (min-width: $width-xl) {
            padding-top: vw(15px);
        }
    }

    &__closer {
        position: absolute;
        top: 0;
        right: 0;
        width: 111px;
        height: 111px;
        overflow: hidden;
        cursor: pointer;

        &:before {
            content: url('/images/icons/yellow-close.jpg');
            position: absolute;
            top: 22px;
            right: 22px;
            width: 20px;
            height: 20px;
            z-index: 1;
        }

        &:after {
            background: $yellow;
            position: absolute;
            width: 200%;
            height: 200%;
            content: '';
            bottom: 100%;
            left: 0;
            transform: rotate(45deg);
            transform-origin: bottom left;
        }
    }
}
