@import '../../../dev/node_modules/owl.carousel/dist/assets/owl.carousel.min.css';
@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.slider {
    position: relative;
    margin-bottom: vw(64px);

    &__slide {
        position: relative;
        display: block;
        height: 290px;
        overflow: hidden;

        @media (min-width: $width-md){
            height: auto;
        }

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background: rgba(0,0,0,0.4);
        }
    }
    &__content {
        position: absolute;
        z-index: 1;
        top: vw(245px);
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        width: 100%;
    }
    &__first-line-text{
        font-weight: 700;
        font-size: 24px;
        line-height: 110%;
        color: #fff;
        display: block;
        padding: 0 30px;

        @media (min-width: $width-xl){
            font-size: vw(86px);
            line-height: vw(78px);
        }
    }
    &__second-line-text{
        margin-bottom: 16px;
        font-weight: 200;
        font-size: 22px;
        line-height: 110%;
        color: #fff;
        display: block;

        @media (min-width: $width-xl){
            margin-bottom: vw(52px);
            font-size: vw(68px);
            line-height: vw(78px);
        }
    }
    &__info {
        color: #fff;
        position: absolute;
        right: vw(40px);
        bottom: vw(35px);
        font-weight: 200;
        font-size: vw(19px);
        line-height: vw(23px);
        display: none;
        letter-spacing: 1.9px;
        z-index: 1;

        @media (min-width: $width-xl){
            display: inline-block;
        }
    }

    &__img {
        max-width: initial;
        height: 100%;
        position: relative;
        width: auto !important;
        left: 50%;
        transform: translateX(-50%);

        @media (min-width: $width-md){
            height: auto;
            max-width: 100%;
            width: 100%;
            left: 0;
            transform: none;
        }
    }
}

.owl-dot {
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.3) !important;
    margin: 2px;
    vertical-align: bottom;
    transition: all 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
    display: none;

    &:hover {
        opacity: 1;

        span {
            opacity: 1;
        }
    }

    span{
        position: absolute;
        bottom: 15px;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Krub', sans-serif;
        color: #fff;
        letter-spacing: 1px;
        opacity:0;
        transition: all 0.2s ease-in-out;

        @media (max-width: 1199px){
            font-size: 12px;
            white-space: nowrap;
        }
    }

    &.active{
        display: block;
        span {
            opacity: 1;
        }
    }


    &:after {
        position: absolute;
        right: 15px;
        opacity: 0;
        bottom: 0;
        transition: all 0.2s linear;
    }
    &.active {

        #active-progress {
            position: absolute;
            left: 0;
            width: 0;
            top: 0;
            height: 100%;
            background: $yellow;
            transition: all 1s linear;
        }
        &:after {
            bottom: 15px;
            opacity: 1;
        }
    }
}

.owl-dots {
    position: absolute;
    max-width: 1728px;
    width: 90%;
    bottom: vw(40px);
    z-index:2;
    left: 50%;
    transform: translateX(-50%);
    display: none;

    @media (min-width: 1200px){
        display: inline-block;
    }
}


button.owl-dot {
    display: none;
}

.slider-wrapper{
    position: relative;
}
