@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.subsidy {
    margin-bottom: 40px;
    @media (min-width: $width-xl) {
        margin-bottom: vw(40px);
    }

    &__title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 32px;
        color: $gray;
        font-weight: 700;

        @media (min-width: $width-xl) {
            font-size: vw(20px);
            line-height: vw(26px);
            margin-bottom: vw(32px);
        }
    }

    &__files {
        padding-top: 16px;

        @media (min-width: $width-xl) {
            padding-top: vw(16px);
        }
    }

    &__file {
        font-size: 18px;
        line-height: 130%;
        margin-bottom: 32px;
        padding-left: 58px;
        color: $gray;
        font-weight: 700;
        position: relative;

        @media (min-width: $width-xl) {
            font-size: vw(20px);
            line-height: vw(26px);
            margin-bottom: vw(32px);
            padding-left: vw(58px);
        }

        &--pdf, &--doc {
            @include trans;
            display: inline-block;
            position: relative;
            margin: 0 50px 32px 0;
            text-decoration: none;

            @media (min-width: $width-xl) {
                margin: 0 vw(50px) vw(32px) 0;
            }

            &:before {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }

        }

        &--pdf {
            &:before {
                content: url('/images/icons/pdf.svg');
            }

        }

        &--doc {
            &:before {
                content: url('/images/icons/doc.svg');
            }
        }
    }
}
