@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.corner-header {
    position: relative;

    &:before {
        @include yellowCorner;
        z-index: -1;
    }

    &__title {
        font-weight: 700;
        padding: 30px 0;
        font-size: 40px;
        line-height: 120%;
        color: #393939;
        position: relative;
        z-index: 2;

        @media (min-width: $width-xl){
            padding: vw(64px) 0;
            font-size: vw(55px);
            line-height: vw(65px);
        }
    }
}
