@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.page-awards {
    margin-bottom: 100px;
    @media (min-width: $width-xl) {
        margin-bottom: vw(120px);
    }
}

.award {
    margin-bottom: 40px;

    @media (min-width: $width-xl) {
        margin-bottom: vw(40px);
    }

    &__image-wrapper {
        border: 1px solid #dfdfdf;
        margin-bottom: 15px;
        @media (min-width: $width-xl) {
            margin-bottom: vw(15px);
        }
    }

    &__image {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        display: block;
    }

    &__title {
        font-weight: 300;
        font-size: 19px;
        line-height: 130%;
        color: $gray;
        @media (min-width: $width-xl) {
            font-size: vw(20px);
            line-height: vw(24px);
        }
    }
}
