@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.page-history {
    margin-bottom: 100px;
    @media (min-width: $width-xl) {
        margin-bottom: vw(120px);
    }
}

.history-step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    @media (min-width: $width-md){
        flex-direction: row;
        justify-content: space-between;
    }

    &__year {
        color: #458D63;
        position: relative;
        font-weight: 700;
        font-size: 60px;
        line-height: 65px;
        width: 120px;
        padding: 0 0 40px 0;

        @media (min-width: $width-md){
            padding: 64px 0;
            font-size: 60px;
        }

        @media (min-width: $width-xl){
            font-size: vw(86px);
            line-height: vw(78px);
            width: vw(170px);
            padding: vw(64px) 0;
        }

        &:before {
            content: '';
            position: absolute;
            width: 2px;
            right: 0;
            height: 100%;
            background: #458D63;
            top: 0;
            display: none;

            @media (min-width: $width-md){
                display: block;
                right: -25px;
            }

            @media (min-width: $width-xl){
                right: vw(-59px);
            }
        }

        &:after {
            @media (min-width: $width-md) {
                content: '';
                position: absolute;
                background: #458D63;
                transform: translateY(-50%);
                width: 16px;
                height: 16px;
                top: 105px;
                right: -34px;
                border-radius: 50%;
                border: 3px solid #fff;
            }

            @media (min-width: $width-xl){
                width: vw(16px);
                height: vw(16px);
                top: vw(105px);
                right: vw(-68px);
            }
        }
    }

    &__desc {
        color: $gray;
        padding: 0 0 40px 0;
        width: 70%;
        font-size: 20px;
        line-height: 26px;
        font-weight: 300;

        @media (min-width: $width-md){
            padding: 73px 0 40px 0;
        }

        @media (min-width: $width-xl){
            padding: vw(82px) 0 vw(64px) 0;
            width: vw(805px);
            font-size: vw(24px);
            line-height: 130%;
        }

        @media (min-width: 1410px){
            width: vw(605px);
        }

        @media (min-width: $width-xxl){
            width: vw(505px);
            font-size: vw(20px);
            line-height: vw(26px);
        }
    }

    &:first-of-type {
        .history-step__year {
            &:before {

                @media (min-width: $width-md){
                    top: 105px;
                }

                @media (min-width: $width-xl){
                    top: vw(105px);
                }
            }
        }
    }
}
