@import '~owl.carousel/dist/assets/owl.carousel.min.css';
@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.logo-slider {
    margin-bottom: 30px;

    @media (min-width: $width-xl) {
        margin-bottom: vw(20px);
    }

    &__image {
        filter: grayscale(1);
    }
}
