@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.product {
    &__content-box {
        margin-bottom: vw(40px);
    }
}

.product__image {
    margin-bottom: 40px;

    @media (min-width: $width-md) {
        margin-bottom: 0;
    }
}

.yellow-info {
    background: $yellow;
    padding: 40px;

    @media (min-width: $width-xl) {
        padding: vw(64px) 15px vw(40px) 15px;
    }
}
