@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.contact-form {
    position: fixed;
    top: 0;
    right: -110%;
    width: 100%;
    background: #458D63;
    padding: 30px;
    height: 100%;
    z-index: 5;
    overflow: auto;
    transition: all 0.3s ease-in-out;

    @media (min-width: $width-lg) {
        width: 50%;
    }

    &.active {
        right: 0;
    }

    &__header {
        font-size: 28px;
        line-height: 110%;
        color: #fff;
        font-weight: 300;
        margin-bottom: 33px;

        @media (min-width: $width-md) {
            font-size: 33px;
        }
    }

    @media (min-width: $width-lg) {
        padding: 53px 72px;
    }

    @media (min-width: $width-xl) {
        padding: vw(53px) vw(72px);
    }

    &__input {
        background: #fff;
        padding: 17px 24px;
        font-size: 20px;
        line-height: 120%;
        border-radius: 2px;
        margin-bottom: 18px;
        outline: none;
        display: block;
        border: none;
        width: 100%;
        font-weight: 300;

        &::placeholder {
            font-size: 20px;
            line-height: 26px;
            color: #458D63;
            opacity: 1;
        }

        &:focus {
            border: 2px solid #FFF402;
        }

        &--textarea {
            margin-bottom: 36px;
            resize: vertical;
        }
    }

    &__btn-wrapper {
        text-align: right;
    }

    &__btn {
        margin-right: 0;
        margin-left: auto;
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
        z-index: 4;
        &:after {
            content: url('/images/icons/form-closer.png');
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
        }
    }
}
