@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.products {
    $products: &;
    margin-bottom: vw(128px);
    overflow: hidden;

    &__header {
        display: none;
        @media (min-width: $width-xl){
            display: block;
        }
    }

    &__product-image {
        position: absolute;
        bottom: 0;
        display: none;

        @media (min-width: $width-xl){
            display: block;
        }
    }

    &__product-sample{
        margin: 0 auto vw(55px) auto;
        transition: all 0.3s ease-in-out;
        max-height: 200px;

        @media (min-width: $width-sm){
            max-height: 150px;
        }

        @media (min-width: $width-xl){
            max-height: vw(202px);
        }
    }

    &__product-name {
        font-size: 29px;
        line-height: 115%;
        color: #3B3B3B;
        font-weight: 300;
        text-align: center;

        @media (min-width: $width-sm){
            font-size: 23px;
        }

        @media (min-width: $width-md){
            font-size: 21px;
        }

        @media (min-width: $width-xl){
            font-size: vw(36px);
            line-height: vw(42px);
        }
    }

    &__product-content {
        height: 95%;
        background: #fff;
        padding: 50px 15px;
        position: relative;
        z-index: 1;
        transition: all 0.3s ease-in-out;

        @media (min-width: $width-xl) {
            padding: vw(81px) 15px 0 15px;
        }
    }

    &__product-link {
        background: $yellow;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 2;
        padding: vw(30px);
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;

        &:hover {
            padding: vw(30px) vw(40px);
        }
    }

    &__product {
        height: auto;
        position: relative;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 10px 20px #0000001A;
        margin-bottom: 40px;
        &:hover {
            #{$products}__product-link {
                opacity: 1;
                visibility: visible;
            }
            #{$products}__product-content {
                height: 50%;
                padding-top: vw(60px);
            }
            #{$products}__product-sample {
                margin-bottom: vw(10px);
                max-height: vw(100px);
            }
        }

        @media (min-width: $width-sm){
            height: 300px;
        }

        @media (min-width: $width-xl){
            height: vw(576px);
            box-shadow: none;
            margin-bottom: 0;
        }
    }


}
.about {
    overflow: hidden;
    padding-top: vw(203px);
    padding-bottom: vw(331px);

    &__content {
        margin-bottom: 30px;

        @media (min-width: $width-xl){
            margin-bottom: vw(40px);
            max-width: vw(534px);
        }
    }

    &__right {
        height: 100%;
        margin-bottom: 40px;
        @media (min-width: $width-md){
            margin-bottom: 0;
        }
    }

    &__image {
        position: relative;
        right: -20px;
        width: 101%;
        margin-right: 0;
        display: block;
        margin-left: auto;

        @media (min-width: $width-md){
            position: absolute;
            transform: translate(3%, -22%);
            right: 0;
            width: auto;
            max-width: 50%;
        }
    }
}
.support {
    margin-bottom: vw(129px);
    overflow: hidden;

    &__image {
        width: 100%;
    }

    &__box {
        margin-bottom: 30px;
        @media (min-width: $width-xl) {
            margin-bottom: 0;
        }
    }
    &__box-title{
        font-size: 28px;
        line-height: 34px;
        margin-bottom:13px;
        color: $gray;
        font-weight: 400;
        position: relative;
        z-index: 1;

        @media (min-width: $width-xl) {
            font-size: vw(33px);
            line-height: vw(40px);
            margin-bottom: vw(13px);
        }
    }
    &__box-content{
        padding: 30px;
        position: relative;
        height: 100%;

        @media (min-width: $width-xl) {
            padding: vw(109px) vw(80px) 0 vw(80px);
        }

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: $yellow;
            content: '';
            transition: all 0.3s ease-in-out;
            opacity: 0;
        }

        &:hover {
            &:after {
                opacity: 1;
                height: 110%;
            }
        }

        &--reverse {
            &:after {
                top: auto;
                bottom: 0;
            }
        }
    }
    &__box-desc {
        font-size: 20px;
        line-height: 26px;
        color: $gray;
        font-weight: 300;
        position: relative;
        z-index: 1;

        @media (min-width: $width-xl) {
            font-size: vw(20px);
            line-height: vw(26px);
        }
    }
}
.experience{
    margin-bottom: 40px;
    overflow: hidden;

    @media (min-width: $width-xl){
        margin-bottom: vw(100px);
    }

    &__box {
        text-align: center;
        margin-bottom: 32px;

        @media (min-width: $width-xl){
            margin-bottom: vw(32px);
        }
    }
    &__header {
        margin-bottom: 40px;
        @media (min-width: $width-xl){
            margin-bottom: vw(68px);
        }
    }
    &__image {
        margin: 0 auto 40px auto;

        @media (min-width: $width-xl){
            margin: 0 auto vw(40px) auto;
        }
    }
    &__title {
        font-size: 26px;
        line-height: 110%;
        color: $gray;
        font-weight: 400;

        @media (min-width: $width-md){
            font-size: 23px;
        }

        @media (min-width: $width-xl){
            font-size: vw(33px);
            line-height: vw(40px);
        }
    }
}
.join{
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 50px;
    display: none;

    @media (min-width: $width-xl){
        margin-bottom: vw(84px);
        display: block;
    }

    &__right{
        padding-top: 100px;
        padding-left: 120px;

        @media (min-width: $width-xl){
            padding-top: vw(282px);
            padding-left: vw(147px);
        }
    }
}
