@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.gallery {
    margin-bottom: 80px;

    @media (min-width: $width-xl) {
        margin-bottom: vw(84px);
    }

    &__item {
        display: block;
        position: relative;

        &:before {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: #458D63;
            opacity: 0;
            content: '';
            transition: all 0.3s ease-in-out;
        }

        &:after {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: url('/images/icons/search.png');
            position: absolute;
            transition: all 0.3s ease-in-out;
            opacity: 0;
        }

        &:hover {
            &:before {
                opacity: 0.9;
            }
            &:after {
                opacity: 1;
            }
        }
    }
}
