@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.page-mine {
    margin-bottom: 100px;
    @media (min-width: $width-xl) {
        margin-bottom: vw(128px);
    }

    &__contents {
        .cms-content {
            h5{
                margin-bottom: 8px;
                @media (min-width: $width-xl) {
                    margin-bottom: vw(8px);
                }
            }
        }
    }
    &__second-content,
    &__two-cols {
        margin-bottom: 40px;
        @media (min-width: $width-xl) {
            margin-bottom: vw(64px);
        }
        .img-responsive {
            width: 100%;
            margin-bottom: 30px;

            @media (min-width: $width-md) {
                margin-bottom: 0;
            }
        }
    }
    &__partners {
        padding-top: 60px;
        margin-bottom: 60px;

        @media (min-width: $width-xl) {
            padding-top: vw(100px);
            margin-bottom: vw(128px);
        }
    }
    &__partners-images {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media (min-width: $width-sm) {
            flex-direction: row;
        }
    }
    &__partner {
        max-width: 90%;
        margin: 0 auto;
        @media (min-width: $width-sm) {
            margin: 0 30px;
            max-width: 45%;
        }

        @media (min-width: $width-xl) {
            margin: 0 vw(42px);
        }
    }
}
