@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.page-quality-policy {
    margin-bottom: 100px;
    @media (min-width: $width-xl) {
        margin-bottom: vw(120px);
    }
}

.certificates {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 36px;
}

.certificate {
    margin-bottom: 64px;
    padding: 0 36px;
    @media (min-width: $width-xl) {
        margin-bottom: vw(64px);
        padding: 0 vw(36px);
    }
    &__title{
        color: $gray;
        font-size: 19px;
        line-height: 130%;
        font-weight: 300;
        text-align: center;

        @media (min-width: $width-xl) {
            font-size: vw(20px);
            line-height: vw(26px);
        }
    }
}

.data-table {
    padding: 33px 0 16px 0;
    box-shadow: 0 12px 24px #0000001A;

    @media (min-width: $width-xl) {
        padding: vw(33px) 0 vw(16px) 0;
    }

    &__title {
        font-size: 24px;
        line-height: 130%;
        padding: 0 33px;
        margin-bottom: 33px;
        font-weight: 400;
        color: #458D63;

        @media (min-width: $width-xl) {
            font-size: vw(33px);
            line-height: vw(40px);
            padding: 0 vw(33px);
            margin-bottom: vw(33px);
        }
    }

    &__row {
        font-size: 19px;
        line-height: 120%;
        background: #f8f8f8;
        display: flex;
        flex-wrap: wrap;
        @media (min-width: $width-md) {
            flex-wrap: nowrap;
        }

        @media (min-width: $width-xl) {
            font-size: vw(20px);
            line-height: vw(26px);
        }

        &--transparent {
            background: #fff;
        }
    }

    &__desc {
        padding: 9px 33px;
        flex: 0 0 100%;
        position: relative;

        @media (min-width: $width-xl) {
            padding: vw(9px) vw(33px);
        }

        @media (min-width: $width-md) {
            flex: 0 0 50%;
            &:after {
                position: absolute;
                top: 0;
                right: 0;
                width: 15px;
                height: 100%;
                background: #fff;
                content: '';
            }
        }

    }
    &__value {
        font-weight: 700;
        padding: 9px 33px;
        flex: 0 0 100%;
        @media (min-width: $width-md) {
            flex: 0 0 50%;
        }

        @media (min-width: $width-xl) {
            padding: vw(9px) vw(33px);
        }
    }
}
