@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.page-subsidies {
    margin-bottom: vw120px;
    @media (min-width: $width-xl) {
        margin-bottom: vw(120px);
    }

    &__content {
        margin-bottom: vw120px;
        @media (min-width: $width-xl) {
            margin-bottom: vw(120px);
        }
    }
}

.subsidies-menu {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 30px;
    @media (min-width: $width-xl) {
        padding-bottom: vw(20px);
    }
    &__item {
        @include trans;
        cursor: pointer;
        margin-bottom: 16px;
        @media (min-width: $width-xl) {
            margin-bottom: vw(16px);
        }
    }

    &__link {
        text-decoration: none;
        font-size: 19px;
        line-height: 130%;
        color: $gray;
        font-weight: 600;
        @media (min-width: $width-xl) {
            font-size: vw(20px);
            line-height: vw(26px);
        }
    }
}
