@import '../../../dev/styles/mixins';
@import '../../../dev/styles/variables';

.page-newslist {
    margin-bottom:90px;
    @media (min-width: $width-xl) {
        margin-bottom: vw(90px);
    }
}

.newsbox {
    margin-bottom: 30px;
    text-decoration: none;
    display: block;
    @include trans;
    @media (min-width: $width-xl) {
        margin-bottom: vw(48px);
    }

    &__cover {
        margin-bottom: 25px;
        @media (min-width: $width-xl) {
            margin-bottom: vw(25px);
        }
    }

    &__title {
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: $gray;
        display: block;
        @media (min-width: $width-xl) {
            margin-bottom: vw(15px);
            font-size: vw(20px);
            line-height: vw(24px);
        }
    }
    &__intro {
        margin-bottom: 13px;
        font-weight: 300;
        font-size: 16px;
        line-height: 130%;
        color: $gray;
        display: block;
        @media (min-width: $width-xl) {
            margin-bottom: vw(13px);
            font-size: vw(20px);
            line-height: vw(24px);
        }
    }

    &__date {
        margin-bottom: 13px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: $gray;
        opacity: 0.5;
        display: block;
        @media (min-width: $width-xl) {
            margin-bottom: vw(13px);
            font-size: vw(20px);
            line-height: vw(24px);
        }
    }
}
